node_modules/
zig-out/
zig-cache/
.zig-cache/
dist/
.DS_store

# iOS build artifacts
ios/build/
ios/Oayao.xcframework
ios/Oayao.xcodeproj/xcuserdata
ios/Oayao.xcodeproj/project.xcworkspace/xcuserdata
