* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { width: 100%; height: 100%; }
body { display: flex; justify-content: center; align-items: center; overflow: hidden; }
canvas { width: 100%; height: 100%; }

#forecast {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

/* 移动端适配（例如屏幕宽度 ≤ 768px） */
@media (max-width: 768px) {
  #forecast {
    display: none;
  }

  .forecast-list {
    align-items: center;

    opacity: .5;
  }
}

.forecast-list {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 12px;

  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.event-item {
  padding: 0 10px;
  display: flex;
  gap: 10px;
}

.event-icon svg {
  width: 20px;
  height: 20px;
}

.event-icon svg path {
  fill: white;
  stroke: white;
}

.status-pending:hover .event-start::after {
  opacity: 1;
}

.status-active:hover .event-info .event-status::after {
  opacity: 1;
}

.event-start {
  cursor: default;
}

.event-status {
  cursor: default;
}

.event-item.event-status.status-active .event-status::after {
  content: '秒后结束';
  display: inline-block;
  margin: 0 2px;
  opacity: 0;
  transition: opacity .2s ease-out;
}

.event-start::after {
  content: '有流星雨';
  display: inline-block;
  margin: 0 2px;
  opacity: 0;
  transition: opacity .2s ease-out;
}

.event-status {
  opacity: 1;
  transition: opacity .2s ease-out;
}

.event-info {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.event-item.event-status.status-active .event-start {
  display: none;
}

.event-status.status-ended {
  opacity: 0;
}